<a href="https://colab.research.google.com/github/easmael/CPEN-21A-ECE-2-3/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [2]:
week=["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
for x in week:
  print(x)

sunday
monday
tuesday
wednesday
thursday
friday
saturday

Break statement

In [3]:
week=["sunday","monday","tuesday","wednesday","thursday","friday","saturday"]
for x in week:
  print(x)
  if x=="thursday":
    break

sunday
monday
tuesday
wednesday
thursday

In [4]:
for x in week:
  if x=="thursday":
    break
  print(x)

sunday
monday
tuesday
wednesday

Looping through string

In [5]:
for x in "programming logic and design":
  print(x)

p
r
o
g
r
a
m
m
i
n
g

l
o
g
i
c

a
n
d

d
e
s
i
g
n

range function

In [6]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [7]:
for x in range(2,6):
  print(x)

2
3
4
5

In [9]:
adjective=["red","tasty","big"]
fruits=["apple","banana","cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
tasty apple
tasty banana
tasty cherry
big apple
big banana
big cherry

While loop

In [12]:
i=1
while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

break under while

In [15]:
i=1
while i<=6:
  print(i)
  if i==3:
    break
  else:
    i+=1

1
2
3

Continue statement

In [16]:
i=0
while i<=6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6
7

else statment

In [17]:
i=1
while i<=6:
  print(i)
  i+=1
else:
  print("is </=6")

1
2
3
4
5
6
is </=6

application 1

In [21]:
a=0
for i in range(11):
  print("Value",a)
  a+=1

Value 0
Value 1
Value 2
Value 3
Value 4
Value 5
Value 6
Value 7
Value 8
Value 9
Value 10

Application 2

In [25]:
for i in range(20):
  if i<=20 and i>3:
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19